    
      <div class="modal-header">
        <h4 class="modal-title">{{post.title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    
      <div class="modal-body">
      	<div class="row">
      	<div  class="col-md-8 col-sm-8">
        <img  #img_section [src]="post.url">
        <div>
        	<small>{{post.description}}</small>
        </div>
    </div>
    <div #comment_section class="col-md-4 col-sm-4 comment-section">
    	<div *ngIf="post.comments.length<1" class="no-comments">
    		No comments yet.
    	</div>
      <div *ngIf="post.comments.length>=1">
    	<div  *ngFor="let comment of post.comments">
    		<app-comment-single [comment]="comment" [user]="user" (likeOrUnlike)="onLikeOrUnlikeComment($event,post._id)" (deleteComment)="onDeleteComment($event,post._id)" (reply)="replyToComment($event)" (likeOrUnlikeReplyOutput)="likeOrUnlikeReply($event)"></app-comment-single>
    	</div>
    </div>
    </div>
</div>
      </div>

      <div class="modal-footer">
      		<div class="col-md-8 col-sm-8">

      <app-comment-form 
      #comment_form [reply]="reply" 
      (postReply)="onPostReply($event)"
      (postNewComment)="postComment($event,post._id)"
       (cancelReplyEvent)="cancelReply()">
       </app-comment-form>
        <div class="like-dislike">
            <div class="like" [class.disabled]="liked"><i class="material-icons" (click)="likePost()">thumb_up</i><span>{{post.likes.length}}</span></div>
             <div class="dislike" [class.disabled]="disliked"><i class="material-icons" (click)="dislikePost()">thumb_down</i><span>{{post.dislikes.length}}</span></div>
          </div>
      
  </div>
      </div>
    
 
   