.comment-form{
	position: relative;
	left: -265px !important;
	max-width:650px;
	width:650px;
}

.publish-btn:hover{
cursor: pointer;
}

.btn-group-custom{
	left:-20px;
}

.btn-group button:hover{
	cursor: pointer;
}